
<div ng-controller="AppCtrl" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">

    <div class="panel panel-success">

        <div class="panel-heading">
            <h3><strong>Municipal Financial Profile</strong></h3>
            <h4>New Record</h4>
        </div>

        <md-content>
           @Html.Partial("~/Views/MLGUFinancialData/_financial_profile_newrecord_basic_info.cshtml")
        </md-content>

        <md-toolbar md-scroll-shrink>

            <div class="md-toolbar-tools">
                Revenue Sources
            </div>

        </md-toolbar>

        <md-content>
            @Html.Partial("~/Views/MLGUFinancialData/_financial_profile_newrecord_revenuesources.cshtml")
        </md-content>

        <md-toolbar md-scroll-shrink>

            <div class="md-toolbar-tools">
                Sectoral Expenditure
            </div>

        </md-toolbar>

        <md-content>
           @Html.Partial("~/Views/MLGUFinancialData/_financial_profile_newrecord_sectoralexpenditure.cshtml")
        </md-content>

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                Local Governance Performance Mangement System (LGPMS)
            </div>
        </md-toolbar>

        <md-content>
            @Html.Partial("~/Views/MLGUFinancialData/_financial_profile_newrecord_lgpms.cshtml")
        </md-content>
        <br /><br />

        <md-container layout="row">

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <!--VALIDATION: button Submit will be enabled only if the required fields are populated-->
                <md-button class="md-primary md-raised" ng-click="save()" ng-disabled="!basicForm.$valid">
                    Save Records
                </md-button>
                <md-button class="md-warn md-raised" href="/MunicipalFinancialProfile/Index">
                    Back to List
                </md-button>
            </div>

        </md-container>
     
    </div>

</div>




@section Scripts
{
    <script>

        angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
            .controller('AppCtrl',
                function ($scope, $mdDialog, $http, $mdToast) {

                    $scope.data;
                    $scope.numbersOnly = /^\d+$/;

                    $http.get('/api/offline/v1/mlgu_financial_data/get?id=@ViewBag.id')
                        .then(function (response) {

                    $scope.loading = true;

                    $scope.data = response.data;

                    $scope.dt_talakayan_date_start = response.data.talakayan_date_start == undefined ? null: new Date(response.data.talakayan_date_start);
                    $scope.dt_talakayan_date_end = response.data.talakayan_date_end == undefined ? null: new Date(response.data.talakayan_date_end);

                    $scope.$watch('dt_talakayan_date_start',
                                function (newValue, oldValue) {
                                    $scope.minEndDate = new Date(newValue);
                                });

                    $scope.$watch('data.talakayan_yr_id',
                                function (newValue, oldValue) {

                                    //if talakayan year is 2015
                                    if ($scope.data.talakayan_yr_id == 1) {
                                        $scope.minStartDate = new Date("01/01/2015");
                                        $scope.maxStartDate = new Date("12/31/2015");

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date("12/31/2015");
                                    }

                                    //if talakayan year is 2016
                                    if ($scope.data.talakayan_yr_id == 2) {
                                        $scope.minStartDate = new Date("01/01/2016");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                    }

                                    if ($scope.data.talakayan_yr_id == 3) {
                                        $scope.minStartDate = new Date("01/01/2017");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }

                                    if ($scope.data.talakayan_yr_id == 4) {
                                        $scope.minStartDate = new Date("01/01/2018");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }

                                    if ($scope.data.talakayan_yr_id == 5) {
                                        $scope.minStartDate = new Date("01/01/2019");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }
                                });

                    $scope.showAttributes = false;

                    $scope.data.region_code = $scope.data.region_code == 0 ? "" : $scope.data.region_code;
                    $scope.data.prov_code = $scope.data.prov_code == 0 ? "" : $scope.data.prov_code;
                    $scope.data.city_code = $scope.data.city_code == 0 ? "" : $scope.data.city_code;

                    $scope.data.talakayan_yr_id = $scope.data.talakayan_yr_id == 0 ? "" : $scope.data.talakayan_yr_id;
                    $scope.data.talakayan_date_start = $scope.data.talakayan_date_start == 0 ? "" : $scope.data.talakayan_date_start;
                    $scope.data.talakayan_date_end = $scope.data.talakayan_date_end == 0 ? "" : $scope.data.talakayan_date_end;
                    
                    $scope.data.cycle_id = $scope.data.cycle_id == 0 ? "" : $scope.data.cycle_id;
                    $scope.data.year_id = $scope.data.year_id == 0 ? "" : $scope.data.year_id;



                    $scope.check_status = function () {

                        $http.get('/api/exists/perception_survey?id=@ViewBag.id')
                            .then(function (result) {


                                if (result.data == true) {
                                    $scope.status = true;
                                } else {
                                    $scope.status = false;

                                }
                            });

                    }

                    $scope.check_status();

                        //getting libraries: Region, Province, Municipality, Talakayan Year, Current Cycle
                    $http.get('/api/online/lib_region')
                                .then(function (response) { $scope.region_code_options = response.data; });

                    $http.get('/api/talakayan_year')
                        .then(function (response) { $scope.talakayan_year_options = response.data; });

                    $http.get('/api/lib_cycle?id=7')
                                 .then(function (response) { $scope.cycle_id_options = response.data; });

                 
                        //FOR SAVING:
                    $scope.save = function () {

                        $scope.$broadcast('show-errors-check-validity');
                        $scope.loading = true;
                        //       alert(JSON.stringify($scope.data));
                                
                        $.post('/api/offline/v1/mlgu_financial_data/save', $scope.data)
                            .success(function (data) {
                                $scope.loading = false;
                                $('html, body').animate({
                                    scrollTop: '0px'
                                }, 1500);


                                $mdToast.show(
                                    $mdToast.simple()
                                    .textContent('Survey Saved!')
                                    .position("top right")
                                    .hideDelay(3000)
                                );

                                $scope.check_status();

                            })
                            .error(function (data) {

                                alert(JSON.stringify(data));


                                $scope.error = "An Error has occured while Saving! " + data.statusText;
                                $scope.loading = false;
                            });
                    };


                        }); //end of edit



                    //===============================================================================================================================================================================//

                    $scope.$watch('dt_talakayan_date_start',
                               function (newValue, oldValue) {
                                   $scope.minEndDate = new Date(newValue);
                               });

                    $scope.$watch('data.talakayan_yr_id',
                                function (newValue, oldValue) {

                                    //if talakayan year is 2015
                                    if ($scope.data.talakayan_yr_id == 1) {
                                        $scope.minStartDate = new Date("01/01/2015");
                                        $scope.maxStartDate = new Date("12/31/2015");

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date("12/31/2015");
                                    }

                                    //if talakayan year is 2016
                                    if ($scope.data.talakayan_yr_id == 2) {
                                        $scope.minStartDate = new Date("01/01/2016");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                    }

                                    if ($scope.data.talakayan_yr_id == 3) {
                                        $scope.minStartDate = new Date("01/01/2017");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }

                                    if ($scope.data.talakayan_yr_id == 4) {
                                        $scope.minStartDate = new Date("01/01/2018");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }

                                    if ($scope.data.talakayan_yr_id == 5) {
                                        $scope.minStartDate = new Date("01/01/2019");
                                        $scope.maxStartDate = new Date();

                                        $scope.minEndDate = new Date($scope.data.dt_talakayan_date_start);
                                        $scope.maxEndDate = new Date();
                                        alert("Year not applicable, please select another.");
                                    }
                                });

                    //getting libraries: Region, Province, Municipality, Talakayan Year, Current Cycle
                    $http.get('/api/online/lib_region')
                                .then(function (response) { $scope.region_code_options = response.data; });

                    $http.get('/api/talakayan_year')
                        .then(function (response) { $scope.talakayan_year_options = response.data; });

                    $http.get('/api/lib_cycle?id=7')
                                 .then(function (response) { $scope.cycle_id_options = response.data; });


                    //watch for region, province, and muni..
                    $scope.$watch('data.region_code',
                        function (newValue, oldValue) {

                            var record = $scope;

                            if (newValue == null) {
                                record.prov_code = null;
                                record.city_code = null;

                                record.prov_code_options = [];
                                record.city_code_options = [];

                            } else {
                                $http({
                                    method: 'GET',
                                    url: '/api/online/lib_province?id=' + newValue,

                                })
                                    .success(function (data, status, headers, config) {

                                        $scope.prov_code_options = data;
                                    })
                                    .error(function (data, status, headers, config) {

                                        $scope.message = 'Unexpected Error';
                                    });
                            }

                        });

                    $scope.$watch('data.prov_code',
                        function (newValue, oldValue) {

                            var record = $scope;

                            if (newValue == null) {

                                record.city_code = null;
                                record.city_code_options = [];
                            } else {
                                $http({
                                    method: 'GET',
                                    url: '/api/online/lib_city?id=' + newValue,

                                })
                                    .success(function (data, status, headers, config) {

                                        $scope.city_code_options = data;
                                    })
                                    .error(function (data, status, headers, config) {

                                        $scope.message = 'Unexpected Error';
                                    });
                            }

                        });

                    //watch for talakayan year:
                    $scope.$watch('data.talakayan_yr_id',
                        function (newValue, oldValue) {
                            var record = $scope;
                            $http({
                                method: 'GET',
                                url: '/api/talakayan_year?id=' + newValue,
                            })
                                .success(function (data, status, headers, config) {
                                    $scope.talakayan_year_options = data;
                                })
                                .error(function (data, status, headers, config) {

                                    $scope.message = 'Unexpected Error';
                                });
                        });


                    
                    //populate pre-filled fields if Municipality is selected:
                    $scope.populate = function () {
                        $.blockUI({ message: '<h1><img src="@Url.Content("~/Images/kc_logo-copy.png")" /></h1> Processing...' });

                        //for Revenue Sources and Sector Expenditure - 2011
                        $.post('/api/export/mlgu_financial_data/blgf_financial_data_2011', $scope.data).success(function (value) {
                            $scope.loading = false;

                            $scope.RevenueandExpenditures2011 = value;

                            setTimeout($.unblockUI, 3);

                            $scope.isSearching = false;

                        }).error(function (data) {

                            alert(JSON.stringify(data));
                            $scope.error = "An Error has occured! " + data.statusText;
                            $scope.loading = false;
                        });

                        //for Revenue Sources and Sector Expenditure - 2012
                        $.post('/api/export/mlgu_financial_data/blgf_financial_data_2012', $scope.data).success(function (value) {
                            $scope.loading = false;

                            $scope.RevenueandExpenditures2012 = value;

                            setTimeout($.unblockUI, 3);

                            $scope.isSearching = false;

                        }).error(function (data) {

                            alert(JSON.stringify(data));
                            $scope.error = "An Error has occured! " + data.statusText;
                            $scope.loading = false;
                        });

                        //for Revenue Sources and Sector Expenditure - 2013
                        $.post('/api/export/mlgu_financial_data/blgf_financial_data_2013', $scope.data).success(function (value) {
                            $scope.loading = false;

                            $scope.RevenueandExpenditures2013 = value;

                            setTimeout($.unblockUI, 3);

                            $scope.isSearching = false;

                        }).error(function (data) {

                            alert(JSON.stringify(data));
                            $scope.error = "An Error has occured! " + data.statusText;
                            $scope.loading = false;
                        });

                        //for LGPMS
                        $.post('/api/export/mlgu_financial_data/lgpms_all_data', $scope.data).success(function (value) {
                            $scope.loading = false;

                            $scope.LGPMSlist = value;

                            setTimeout($.unblockUI, 3);

                            $scope.isSearching = false;

                        }).error(function (data) {

                            alert(JSON.stringify(data));
                            $scope.error = "An Error has occured! " + data.statusText;
                            $scope.loading = false;
                        });

                    };
                    

                }) //end of script



        /**
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        **/

    </script>
<script src="~/bower_components/BlockUI/jquery.blockUI.js"></script>
}





