

@model PagedList.IPagedList<WebApp.DataLayer.Entities.spi_worker>
@using PagedList;
@{Layout = null;}
@using PagedList.Mvc;





<div class="box">
    <div class="box-header">
        <h3 class="box-title">  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount || @Model.TotalItemCount Records</h3>

        <form>
            <label>Records per page</label>
            <select class="pagesize" name="FiltPages" id="FiltPages" onchange="filter()">
                <option value="10"></option>

                <option value="10">10</option>

                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>


        </form>

        <div class="box-tools">
            @Html.PagedListPager(Model, page => Url.Action("_workerprofile",
    new
    {
        item = ViewBag.FilterModel,
        page,


    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result" }))



        </div>

    </div>

    <br />
    <div class="box-body no-padding">

        <table class="table table-striped">
            <tr>
                <th>
                    Region
                </th>
                <th>
                    Province
                </th>
                <th>
                    Municipality
                </th>
                <th>
                    Barangay
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Sex
                </th>
                <th>Age</th>
                <th>
                    Birthdate
                </th>


                <th>
                    Nature of Work
                </th>
                <th>
                    Is Skilled?
                </th>

                <th> is IP?</th>
                
                <th>
                  is pantawid?
                </th>
                <th>
                  is seac?
                </th>
                <th>
                  is slp?
                </th>
               



                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lib_region.region_nick)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lib_province.prov_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lib_city.city_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lib_brgy.brgy_name)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.last_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.first_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.middle_name)
                    </td>
                    <td>
                        @(item.sex == true ? "Male" : "Female")


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lib_spi_nature_work.name)
                    </td>
                    <td>
                        @(item.is_skilled == true ? "Yes" : "No")

                          


                    </td>
                   
                    <td>
                        @(item.is_ip == true ? "Yes" : "No")


                     
                    </td>
                    <td>
                     @(item.is_pantawid == true ? "Yes" : "No")

                    </td>
                    <td>
                    @(item.is_seac == true ? "Yes" : "No")

                    </td>
                    <td>
                   @(item.is_slp == true ? "Yes" : "No")

                    </td>
                

                    <td></td>
                </tr>
            }

        </table>

    </div><!-- /.box-body -->
</div><!-- /.box -->
