

@model  IEnumerable<WebApp.DataLayer.Entities.training_participant>
 
 <script src="~/Scripts/jquery-2.0.3.js"></script>
 

@{ ViewBag.Title = "List of Training Participants";

    ViewBag.Controller = "View Training Participants";

}

 

<div class="box">
    <div class="box-header">
     
        <form>
            <label>Records per page</label>
            <select class="pagesize" name="FiltPages" id="FiltPages" onchange="filter()">
                <option value="10"></option>

                <option value="10">10</option>

                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </form>

 
    </div>

    <br />
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tr>

              <th>
                  #
              </th>

                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Birthdate
                </th>
                <th>
                    Sex
                </th>
                <th>
                    Civil Status
                </th>
                <th>
                    Children
                </th>
                <th>
                    Contact
                </th>
                @*<th>
                    Is Volunteer?
                </th>*@
            </tr>

            @{
                int i = 0;
             }
            @foreach (var item in Model)
            {

                i++;
                <tr>

            <td>
                @i
            </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.last_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.first_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.middle_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.birthdate)
                    </td>
                    <td>

                        @{
                            string s = "Female";
                            if (item.beneficiary_profile.sex == true)
                            {
                                s = "Male";
                            }

                        }

                        @s
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.civil_status_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.no_children)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beneficiary_profile.contact_no)
                    </td>
                 
                    @*<td>
                        @(item.is_volunteer == true ? "Yes" : "No")


                    </td>*@

                </tr>
                            }

        </table>

    </div><!-- /.box-body -->
</div><!-- /.box -->
